body {
  background: #f2f2f2;
}

.card {
  background: white;
  width: 400px;
  margin: 60px;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;

  &:nth-child(2) {
    box-shadow: 5px 5px 0 0 #000;
  }

  &:nth-child(3) {
    box-shadow: 0px 0px 0px 10px #d3d1d1;
  }

  &:nth-child(4) {
    box-shadow: 0px 0px 50px 5px #d3d1d1;
  }

  &:nth-child(5) {
    transition: 0.3s ease all;
    &:hover {
      box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
  }
}
