.caja {
  background: #61b387;
  width: 300px;
  /* height: 300px; */
  padding: 10px 20px;
  margin: 50px;
  border: 10px solid red;
}

.imagen{
    width: 400px;
    border: 5px solid #000;
    padding: 20px;
    margin: 0 100px;
}