.caja {
  width: 500px;
  height: 500px;
  background: #000;
  margin: 10px;
}

.gradiente-linear {
  background: #2b1847;
  background: linear-gradient(
    90deg,
    rgba(43, 24, 71, 1) 0%,
    rgba(182, 123, 224, 1) 48%,
    rgba(176, 157, 224, 1) 100%
  );
}

.gradiente-radial {
  background: #736f96;
  background: radial-gradient(
    circle,
    rgba(115, 111, 150, 1) 0%,
    rgba(235, 235, 235, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.gradiente-conico {
  background: conic-gradient(yellow, orangered);
}

.gradiente-imagen {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.418)), url('../imagenes/desierto.png');
  background-repeat: no-repeat;
  background-size: cover;
}
