.caja {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  font-size: 28px;
  border-radius: 5px;
  background: #43ae75;

  animation-name: cambiarAncho;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease;
  /*   animation-iteration-count: 2;
  animation-direction: alternate;
 */
  animation-fill-mode: both;
  &:hover {
    animation: agitar 0.3s ease-in 0s infinite forwards;
  }
}

@keyframes cambiarAncho {
  from {
    width: 200px;
  }

  to {
    width: 400px;
  }
}

@keyframes agitar {
  0% {
    transform: translatey(0px);
  }

  10%{
    transform: translateY(10px);
  }

  20%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}
