* {
  padding: 0;
  margin: 0;
}

body {
  background: #101010;
  font-family: "REM", sans-serif;
  color: #fff;
}

.contenedor {
  width: 1000px;
  margin: 50px auto;
  text-align: center;

  .titulo {
    margin: 40px;
  }

  .galeria {
    a {
      color: #f2f2f2;
      text-decoration: none;
    }

    figure {
      width: 300px;
      display: inline-block;
      margin: 10px;

      img {
        width: 100%;
        vertical-align: top;
        border-radius: 5px;
        filter: sepia();
        transition: 0.3s ease all;
        padding: 5px;
        border: 1px solid transparent;
      }

      &:hover img {
        filter: none;
        border-color: wheat;
      }

      figcaption {
        margin-top: 10px;
        color: #424242;
        transition: 0.3s ease all;
      }

      &:hover figcaption {
        color: #f2f2f2;
      }
    }
  }
}
