* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
}

.caja {
  width: 100px;
  height: 100px;
  background: #262626;
  color: #fff;
  border-radius: 5px;
  font-size: 40px;
  padding: 40px;
  margin: 20px;
}

.posicionada {
  background: #57af46;
  /* position: static; */
  /* position: relative;
  bottom: -50px;
  right: -50px; */
  /*   position: absolute;
  right: 0px;
  bottom: 0px; */
  /*  position: fixed;
  left: 300px;
  top: 0px; */
  position: sticky;
  left: 300px;
  top: 0px;

  /* .caja-padre {
  width: 500px;
  height: 500px;
  position: relative;
}
 */
}
