html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.caja {
  background: #1062ff;
  color: white;
  padding: 4rem;
  font-size: 2.4rem;
  border-radius: 0.5rem;
}

.contenedor {
  display: flex;
  width: 90%;
  max-width: 100rem;
  margin: 4rem auto;
  border: 0.4rem solid #000;
  padding: 4rem;

  /* Espacioado de cajas */
  gap: 4rem;

  /* Dirección de las caja */
  /*
  - row (valor por defecto)
  - row-reverse
  - column
  - column-reverse
  */
  /* flex-direction: column; */
  /* height: 90vh; */

  /* Elementos que se salgan de la caja
  nowrap (valor por defecto)
  - wrap
  - wrap-reverse
  */
  /* flex-wrap: wrap; */

  /* Justifican contenido
  - start (valor por defecto)
  - end
  - center
  -space-beetween
  -space-around
  -space-evenly
  */
  /* justify-content: space-between; */

  /* Alineado de los elemenos
  - stretch (valor por defecto)
  - start
  - center
  - end
  */
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: center; */

  /* align-content: space-between; */
  flex-wrap: wrap;
}
