html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.caja {
  background: #1062ff;
  color: white;
  padding: 4rem;
  font-size: 2.4rem;
  border-radius: 0.5rem;
}

.contenedor {
  display: flex;
  width: 90%;
  max-width: 100rem;
  margin: 4rem auto;
  border: 0.4rem solid #000;
  padding: 4rem;
  gap: 4rem;
  /* flex-wrap: wrap; */
}
/*
.basis {
  flex-direction: column;

  .caja {
    flex-basis: 150px;
  }

  .especial {
    flex-basis: 300px;
  }
} */

.grow {
  .caja {
    flex-grow: 1;
    flex-basis: 200px;
  }

  .especial {
    flex-grow: 3;
  }
}

.basis {
  .caja {
    flex: 1 1 400px;
  }

  .especial {
    flex-shrink: 5;
  }
}

.order {
  .uno {
    order: 4;
  }

  .dos {
    order: 3;
  }

  .tres {
    order: 2;
  }

  .cuatro {
    order: 1;
  }
}

.align-self {
  height: 70rem;
  align-items: start;

  .uno {
    align-self: stretch;
  }

  .dos {
    align-self: start;
  }

  .tres {
    align-self: center;
  }

  .cuatro {
    align-self: end;
  }
}
