html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.caja {
  background: #1062ff;
  color: white;
  padding: 4rem;
  font-size: 2.4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #000;
}

.contenedor {
  width: 90%;
  max-width: 100rem;
  margin: 4rem auto;
  border: 0.4rem solid #000;
  padding: 4rem;
}
