@import "tailwindcss";

/* -- fuentes -- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-serif: "Mountains of Christmas", serif;
  --font-sans: "Henny Penny", system-ui;
  --font-mono: "Kablammo", system-ui;
  --font-titulo: "Roboto", sans-serif;

  --color-primario: #62a87c;
  --color-secundario: #7ee081;

  --color-detalles-100: #8447ff;
  --color-detalles-200: #4b00e0;
}
