/* body {
 
  background-image: url("../imagenes/desierto.png");
  background-repeat: no-repeat;
}
 */

/* Ejemplo #1 - SVG */
/* body {
   background-color: #b8ecd1;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23386dbb' fill-opacity='0.65' fill-rule='evenodd'/%3E%3C/svg%3E");

  background-color: #90a666;
  background-image: url("../imagenes/comida.svg");
  background-repeat: repeat;
}
 */

/* -- Fondos CSS puro -- */
body {
  background-color: #bbbbc1;
  opacity: 0.7;
  background: linear-gradient(135deg, #c345f755 25%, transparent 25%) -15px 0/
      30px 30px,
    linear-gradient(225deg, #c345f7 25%, transparent 25%) -15px 0/ 30px 30px,
    linear-gradient(315deg, #c345f755 25%, transparent 25%) 0px 0/ 30px 30px,
    linear-gradient(45deg, #c345f7 25%, #bbbbc1 25%) 0px 0/ 30px 30px;
}
