* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 700px;
  margin: 50px auto;

  .mensaje {
    margin-bottom: 40px;

    h1 {
      font-size: 34px;
      margin-bottom: 10px;
    }
  }
}

.formulario {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .grupo {
    margin-bottom: 20px;
  }

  input,
  textarea,
  button {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1d2ff;
    border-radius: 3px;

    &:hover {
      border: 1px solid transparent;
      outline: 2px solid #be9dff;
    }

    &:focus {
      outline: 2px solid #6320ee;
    }
  }

  label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;

    .leyenda{
        font-size: 12px;
        font-style: italic;
        color: #acacac;
        font-weight: normal;
    }
  }
}
