/* Estilos para la sección de características */
.carcteristicas {
  margin-top: 14rem;
  margin-bottom: 10rem;

  /* Estilos para la grilla */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    /* Estilos para los previews */
    .previews {
      border-radius: 0.5rem;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;

      /* Estilos para las imágenes thumb */
      .thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        vertical-align: top;
        transition: 0.5s ease all;

        /* Estilo para la imgen activa */
        &.active {
          opacity: 1;
        }
      }
    }

    /* Estilos para los tabs generales*/
    .tabs {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      /* Estilos para el tab individual */
      .tab {
        background: #fff;
        border-radius: 0.5rem;
        display: grid;
        grid-template-columns: auto 1fr;
        cursor: pointer;
        overflow: hidden;

        /* Estilos para la tab activa */
        &.active {
          background: var(--azul-primario);
          color: white;

          .icono {
            color: white;
          }
        }

        /* Estilos para el ícono de la flecha */
        .icono {
          display: flex;
          align-items: center;
          padding-left: 2rem;
          color: var(--azul-primario);

          svg {
            width: 3rem;
            height: 3rem;
          }
        }

        /* Estilos para info */
        .info {
          padding: 2rem;
          display: flex;
          gap: 1rem;
          flex-direction: column;
        }
      }
    }
  }
}
