/* -- Estilos para el footer -- */
.footer {
  background: var(--azul-secundario);
  color: white;
  padding: 2rem;
  border-radius: 0.7rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* logo del footer */
  .logo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* imagen del logo */
    img {
      width: 20vw;
      max-width: 10rem;
    }

    p {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.4rem;
    }
  }

  /* enlaces */
  .links {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    /* enlace */
    a {
      color: white;
    }
  }

  @media (max-width: 576px) {
    & {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 2rem;

      .logo {
        align-items: center;
        order: 2;
      }

      .links {
        justify-content: center;
        order: 1;
      }
    }
  }
}
