.contenedor__header {
  width: 90%;
  max-width: 120rem;
  margin: auto;

  @media (max-width: 768px) {
    & {
      width: 100%;
      max-width: none;
    }
  }
}

.header {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;

  .header__logo {
    display: inline-block;
    background: var(--azul-secundario);
    padding: 2rem;
    width: auto;
    height: 7rem;
    border-radius: 1rem 0 0 0;
    position: relative;

    img {
      height: 100%;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      background: var(--azul-secundario);
      height: 2rem;
      position: absolute;
      bottom: -2rem;
      left: 0;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-top: 7rem solid transparent;
      border-right: 7rem solid transparent;
      border-bottom: 7rem solid var(--azul-secundario);
      right: -6.9rem;
      top: -6.8rem;
    }
  }

  .header__navbar {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    a {
      display: inline-flex;
      gap: 1rem;
      align-items: center;
      font-weight: 700;
      border: 0.5rem;

      &.boton {
        font-weight: 500;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .header__logo {
        border-radius: 0.5rem;
        height: 6rem;

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }

      .header__navbar{
        margin-bottom: 2rem;
        padding: 1rem;
      }
    }
  }
}
