/* -- Estilos para el hero -- */
.hero {
  background: #1fbb8c;
  background: linear-gradient(
    -90deg,
    rgba(31, 187, 140, 1) 30%,
    rgb(17, 146, 172) 80%
  );
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 2rem;
  border-radius: 2rem;
  color: white;
  position: relative;
  z-index: 1;
  padding: 5rem;

  /* Estilos para la columna 1 del hero */
  .hero__col-1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    /* titulo */
    .titulo {
      font-size: 4.8rem;
      font-weight: 400;
      text-align: left;
      margin: 0;
      color: white;
    }

    /* Descripción */
    .descripcion {
      font-size: 1.8rem;
      line-height: 160%;
    }

    /* Botones */
    .botones {
      display: flex;
      gap: 1rem;

      /* Botón transparente */
      .boton-transparente {
        background: rgba(0, 0, 0, 0.2);
        padding: 1.5rem;

        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
      }

      /* Botón secundario */
      .boton-secundario {
        background: var(--azul-secundario);
        border: 1px solid transparent;
        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }

    /* Estadísticas */
    .estadisticas {
      display: flex;
      align-items: center;
      gap: 4rem;
      font-size: 2.2rem;
      font-weight: 500;

      /* Párrafos */
      p {
        display: flex;
        gap: 1rem;
        align-items: center;

        &:nth-child(1) {
          padding-right: 4rem;
          border-right: 1px solid white;
        }
      }

      /* Íconos de los parrafos */
      .icono {
        display: block;
        width: 2.4rem;
        height: 2.4rem;

        /* SVG del ícono */
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  /* -- Estilos para la columna 2 del hero */
  .hero__col-2 {
    position: relative;

    /* El slideshow */
    .slideshow {
      /* background: #000; */
      width: 100%;
      border-radius: 1rem;
      overflow: hidden;
      position: absolute;
      top: -2rem;
      /* Los slides */
      .slides {
        display: flex;
        flex-wrap: nowrap;

        /* Slides de manera individual */
        .slide {
          min-width: 100%;

          /* La imagen dentro del slide */
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }

    /* Indicadores */
    .indicadores {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;
      position: absolute;
      bottom: 2rem;
      left: 0;

      /* Indicador individual */
      .indicador {
        width: 2.5rem;
        height: 0.2rem;
        border: none;
        background: rgba(255, 255, 255, 0.3);
        transition: 0.3s ease all;
        border-radius: 1rem;

        /* Indicador activo */
        &.active {
          background: rgba(255, 255, 255, 1);
        }

        &:hover {
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  /* Estilos para el video del overlay */
  .overlay-video {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;

    /* overlay activo */
    &.active {
      display: flex;
    }

    /* video */
    .video {
      width: 90%;
      max-width: 90rem;

      iframe {
        width: 100%;
        vertical-align: top;
        aspect-ratio: 16/9;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      gap: 2rem;

      .hero__col-1 {
        order: 2;
        text-align: center;
        gap: 2rem;

        .titulo {
          text-align: center;
          font-size: 3rem;
        }

        .botones {
          justify-content: center;
        }

        .estadisticas {
          flex-direction: column;
          gap: 2rem;
          justify-content: center;
          font-size: 1.8rem;

          p{
            gap: 1rem;

            &:nth-child(1){
              padding-right: 0;
              border-right: none;
            }
          }
        }
      }

      .hero__col-2 {
        order: 1;
        display: flex;
        justify-content: center;

        .slideshow {
          position: relative;
          width: 70%;
        }
      }
    }
  }
}
