* {
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

header {
  .logo {
    text-align: center;
    padding: 30px;
    color: white;
    background: #1e212b;
  }
}

.menu {
  background: #14171e;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 7px 0;
  position: sticky;
  top: 0;
  left: 0;

  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease-out;

    &:hover {
      background-color: #4d8b31;
    }
  }
}

main {
  width: 1000px;
  margin: auto;

  .titulo {
    margin-bottom: 20px;
  }

  .post {
    p {
      line-height: 30px;
    }
  }
}
