html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba (255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    z-index: 0;
  }
}

.contenedor {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: auto;
  max-width: 700px;
  padding: 40px 0;

  .bio {
    text-align: center;
    margin-bottom: 40px;

    .foto {
      width: 150px;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100px;
      margin-bottom: 20px;
    }

    .nombre {
      margin-bottom: 5px;
      font-size: 32px;
    }

    .descripcion {
      font-size: 18px;
    }
  }
}

.links {
  .link {
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s ease all;
    /* box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black,
      3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black; */
    box-shadow: 5px 5px 0px 0px black;
    backdrop-filter: blur(40px);
    transform: translate(-5px, -5px);

    &:hover {
      color: white;
      box-shadow: 0px 0px 0px 0px;
      transform: translate(0px, 0px);
    }

    &.sitio-web:hover {
      background: #fdc830; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: black;
    }

    &.instagram:hover {
      background: #833ab4; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #fcb045,
        #fd1d1d,
        #833ab4
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #fcb045,
        #fd1d1d,
        #833ab4
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: white;
    }

    &.linkedin:hover {
      background: #7f7fd5; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #91eae4,
        #86a8e7,
        #7f7fd5
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #91eae4,
        #86a8e7,
        #7f7fd5
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: white;
    }

    &.facebook:hover {
      background: #373b44; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #4286f4,
        #373b44
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #4286f4,
        #767f92
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: white;
    }

    &.github:hover {
      background: #159957; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #155799,
        #159957
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #155799,
        #159957
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: white;
    }
  }
}
