.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;

    grid-auto-flow: column dense;
}

/* .span-2{
    grid-column: span 2;
}

.span-3{
    grid-column: span 3;
} */

.span-2{
    grid-row: span 2;
}

.span-3{
    grid-row: span 3;
}