html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  background: #f2f2f2;
  font-family: "Gabarito", sans-serif;
}

.grid {
  min-height: 80vh;
  margin: 6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(15rem, auto) 1fr auto;

  & > * {
    background: #111111;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
  }
  /* Primera forma */

  /* 

  .header {
    grid-column: 1/-1;
  }

  .main {
    grid-column: 1/3;
  }

  .aside {
    grid-column: 3/-1;
  }

  .footer {
    grid-column: 1/-1;
  } */

  /* Segunda forma */
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .aside {
    grid-area: aside;
  }

  .footer {
    grid-area: footer;
  }
}
