.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;

  .caja:nth-child(1) {
    background: #1ea94f;
    color: white;
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1 / -1; */
    /* grid-row-start: 1; */
    /* grid-row-end: -1; */
    /* grid-row: 1 / 3; */
    order: 6;
  }

  .caja:nth-child(2) {
    order: 5;
  }
  .caja:nth-child(3) {
    order: 4;
  }
  .caja:nth-child(4) {
    order: 3;
  }
  .caja:nth-child(5) {
    order: 2;
  }
  .caja:nth-child(6) {
    order: 1;
  }
}
