body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 50px;

  &:hover {
    background: red;
    color: white;
  }

  &:active {
    background: #000;
  }

  &:visited {
    color: #06cc20;
  }
}

.articulo {
  p:hover {
    background: #000;
    color: lime;
  }
}

.cajas {
  div {
    background: lightcyan;
    height: 50px;
    margin-bottom: 5px;

    &:first-child {
      background: red;
    }

    &:nth-child(2) {
      background: rgb(0, 255, 13);
    }

    &:last-child {
      background:lime;
    }

    &:nth-last-child(2){
        background: yellow;
    }
  }
}
