@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
}
