body {
  background: #f2f2f2;
}

.contenedor {
  width: 500px;
  height: 500px;
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  /* overflow: auto; */
  overflow-y: auto;
  overflow-x: hidden;

  .parrafo {
    width: 150%;
    margin: 0;
  }
}
