.boton {
  background: #000;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 30px 60px;
  border-radius: 10px;
  margin: 30px;

  transition: all 5000ms ease 1s;

  &:hover {
    background: #158215;
    transform: scale(1.2);
  }
}
