body {
  background: #f2f2f2;
}

.contenedor {
  margin: auto;
  width: 1000px;
  padding: 20px 0;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in all;

  &:focus {
    outline: 1px rgba(0, 0, 0, 1) solid;
  }
}

.boton-1 {
  background: #531be0;
  color: white;

  &:hover {
    background: #693adf;
  }
}
.boton-2 {
  background: #fa6400;
  border-radius: 100px;
  color: white;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}
.boton-3 {
  color: black;
  background: none;
  border-radius: 7px;
  border: 2px solid currentColor;

  &:hover {
    color: white;
    background: black;
  }
}
.boton-4 {
  color: white;
  background: #9d50bb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #6e48aa,
    #9d50bb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #6e48aa,
    #9d50bb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;

  &:hover {
    background: #9d50bb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6e48aa,
      #9d50bb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6e48aa,
      #9d50bb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
.boton-5 {
    background: #077307;
    color: white;
    box-shadow: 5px 5px #055805;

    &:hover{
        box-shadow: 2px 2px #055805;
    }
}
.boton-6 {
}
