body {
  background: #000;
}

.contenedor {
  background: #504e4e;
  width: 800px;
  height: 500px;
  background-image: url("../imagenes/arbol.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

article {
  color: white;
  background: #000;
  width: 500px;
  padding: 20px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1764957078421-ffc0a383a310?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
