:root {
  --primario: #174dd9;
  --sombra-card: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --fondo-primario: #f2f2f2;
  --fondo-negro: #000;
  --color-blanco: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background: var(--fondo-primario);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: top;
}

/* ================================
        ESTILOS PARA EL HEADER
   ================================ */

.header {
  background: var(--fondo-negro);
  color: var(--color-blanco);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 4rem;

  /* -- Logo del header -- */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* -- Imagen del logo -- */
    img {
      width: 10vw;
      min-width: 150px;
    }
  }

  /* -- navbar -- */
  .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      color: var(--color-blanco);
      padding: 10px 15px;
      display: block;
      transition: 0.2s ease background;

      &:hover {
        background: var(--primario);
        text-decoration: none;
      }
    }
  }
}
