:root {
  --primario: #174dd9;
  --sombra-card: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --fondo-primario: #f2f2f2;
  --fondo-negro: #000;
  --color-blanco: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background: var(--fondo-primario);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: top;
}

/* ================================
        ESTILOS PARA EL HEADER
   ================================ */

.header {
  background: var(--fondo-negro);
  color: var(--color-blanco);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 4rem;

  /* -- Logo del header -- */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* -- Imagen del logo -- */
    img {
      width: 10vw;
      min-width: 150px;
    }

    /* -- botón del menú -- */
    .btn-menu {
      display: none;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: var(--color-blanco);
      background: none;
      border-radius: 5px;
      padding: 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      /* display: flex; */
      gap: 7px;
      cursor: pointer;
      align-items: center;
      transition: 0.3s all ease;

      &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
      }

      .icono {
        width: 20px;
        height: 20px;
      }
    }
  }

  /* -- navbar -- */
  .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      color: var(--color-blanco);
      padding: 10px 15px;
      display: block;
      transition: 0.2s ease background;

      &:hover {
        background: var(--primario);
        text-decoration: none;
      }
    }
  }

  /* -- Menos de 576px en pantalla -- */
  @media (max-width: 576px) {
    & {
      /* -- logo -- */
      .logo {
        justify-content: space-between;
        padding: 1rem;

        /* -- Menú de hamburgesa -- */
        .btn-menu {
          display: flex;
        }
      }
    }

    /* -- Contenedor navbar -- */
    .contenedor-navbar {
      display: none;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;

      &.active {
        display: block;
      }

      /* -- navbar -- */
      .navbar {
        background: #000;
        width: 70%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 6rem;
        /* -- Enlaces del navbar -- */
        a {
          padding: 20px;
        }
      }
    }
  }
}
