html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.contenedor {
  width: 90vw;
  max-width: 50rem;
  margin: 4rem 0;

  .card {
    background: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

    .imagen {
      width: 100%;
      max-height: 25rem;
      object-fit: cover;
    }

    .textos {
      padding: clamp(1rem, 3vw, 2rem);

      .titulo {
        font-size: clamp(2rem, 3vw, 3rem);
        margin-bottom: 1rem;
      }

      p {
        font-size: clamp(1.6rem, 3vw, 2rem);
        margin-bottom: clamp(0.5rem, 3vw, 1rem);
      }

      .boton {
        background-color: rgb(0, 0, 0);
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: clamp(0.5rem, 3vw, 1rem) clamp(1.5rem, 3vw, 3rem);
        font-size: clamp(1.6rem, 3vw, 2rem);
        border-radius: clamp(0.2rem, 3vw, 0.5rem);
        margin-top: clamp(1rem, 3vw, 2rem);
      }
    }
  }
}
