html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

/* -- FORMA 1 -- */

/* .contenedor {
  width: 90vw;
  max-width: 50rem;
  margin: 4rem 0;

  .card {
    background: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }

  .imagen {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
  }

  .textos {
    padding: 2rem;

    .titulo {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .boton {
      background-color: rgb(0, 0, 0);
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 1rem 3rem;
      font-size: 2rem;
      border-radius: 0.5rem;
      margin-top: 2rem;
    }
  }

  @media (max-width: 500px) {
    .card {
      .textos {
        padding: 1rem;

        .titulo {
          font-size: 2rem;
          margin: 0.5rem;
        }

        p {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        .boton {
          padding: 0.5rem 1.5rem;
          font-size: 1.4rem;
        }
      }
    }
  }
} */

/* -- FORMA 2 -- */

.contenedor {
  width: 90vw;
  max-width: 50rem;
  margin: 4rem 0;

  .card {
    background: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    font-size: 16px;

    .imagen {
      width: 100%;
      max-height: 15.62em;
      object-fit: cover;
    }

    .textos {
      padding: 1.25em;

      .titulo {
        font-size: 1.875em;
        margin-bottom: 0.62em;
      }

      p {
        font-size: 1.25em;
        margin-bottom: 1.32em;
      }

      .boton {
        background-color: rgb(0, 0, 0);
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.625em 1.875em;
        font-size: 1.25em;
        border-radius: 0.3125em;
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .card {
    font-size: 10px;
    color: red;
  }
}
