@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background: #f2f2f2;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    & {
      background: #111111;
      color: white;
    }
  }
}

.contenedor {
  width: 90%;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  img {
    width: 100%;
  }

  h3 {
    font-size: 3.2rem;
    text-align: center;
  }

  @media (max-width: 1000px) {
    & {
      grid-template-columns: repeat(2, 1fr);

      a{
        color: red;
      }
    }
  }

  @media (max-width: 500px) {
    & {
      grid-template-columns: 1fr;

      a{
        color: red;
      }
    }
  }
}
