body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.tabla {
  border: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;

  tr,
  th,
  td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }

  thead {
    background: #00393f;

    th {
      color: white;
      padding: 10px;
    }
  }

  tbody {
    tr {
      background: white;

      &:nth-child(even) {
        background: #f2f2f2;
      }

      &:hover {
        background: #e2e4f6;
      }

      &.azul {
        background: #0496ff;
        color: white;
      }
    }
  }
}
