html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.caja {
  background: #2da776;
  font-size: 32px;
  height: 100px;
  padding: 20px;

  &.calc {
    width: calc(50% - 200px);
  }

  &.min {
    width: min(500px, 50%);
  }

  &.max {
    width: max(500px, 50%);
  }
}
